{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/images/home.css">
{% endblock %}
{% block content %}
<header class="banner d-flex justify-content-center align-items-center">						
<h2 class="article-title bannertitle" id="article">Pollution numérique, les enjeux de demain</h2>
</header>
	<main class="mainpage">
		<section>
			<article>
		</section>
	</main>
{% endblock %}
