{% extends 'layout.html.twig' %}

{% block content %}
    <header>
        <h1>Web invaders!</h1>
    </header>
    <main>
        <div>
        </div>
        <div class="map">
        {% for y in 0..7 %}
        {% for x in 0..19 %}
        <div></div>
        {% endfor %}
        {% endfor %}
        </div>
    </main>
{% endblock %}
