{% extends 'layout.html.twig' %}

{% block content %}
	<main>
		<section class="container d-flex flex-column align-items-center justify-content-center">
			<h1 class="title-game text-center mb-4 mt-2">Web Invaders</h1>
			<div class="map mx-auto">
				{% for y in 0..7 %}
					{% for x in 0..19 %}
						<div></div>
					{% endfor %}
				{% endfor %}
			</div>
		</section>
		<section>
			<article>
				<div class="container mt-5 d-flex justify-content-center">
					<img src="/../assets//images/datacenter.jpg" alt="Data center" class="img-article me-4">
					<div class="d-flex flex-column align-items-start justify-content-center">
						<h2 class="article-title">
							Pollution numérique : du clic au déclic</h2>
						<p class="">C’est incroyable tout ce que l’on peut faire grâce à INTERNET !Aucun aspect de notre vie personnelle ou professionnelle n’échappe à la toile. Tel un open bar de la donnée, on a accès à tout, en un clic, gratuitement ou presque ! Tout est pour le mieux dansle meilleur des mondes. Sauf que…sauf que, nos écrans sont de fumée : ils masquent la grande quantité d’énergie et de ressources primaires requises ainsi que la pollution engendrée pour fabriquer nos précieux équipements et faire tourner la big data. Comment ? Pourquoi ? On vous explique tout pour éviter la gueule de bois  virtuelle. Quel dilemme, au moment où nous écrivons ces lignes (et ou vous les lisez), nous sommes en train d’épuiser des ressources et de polluer. Parce qu’Internet est un fantastique moyen d’information et d’échange, on a tous intérêt à en prendre soin pour qu’il soit durablement accessible à tous.Comme un internaute averti en vaut deux, on vous explique comment adopter la sobriété numérique :</p>
					</div>
				</div>
			</article>
		</section>
	</main>
{% endblock %}
