{% extends 'layout.html.twig' %}

{% block content %}
	<main>
		<section class="container d-flex flex-column align-items-center justify-content-center">
			<h1 class="text-center mb-4 mt-2">Web Invaders</h1>
			<div class="map mx-auto">
				{% for y in 0..7 %}
					{% for x in 0..19 %}
						<div></div>
					{% endfor %}
				{% endfor %}
			</div>
		</section>
		<section>
			<article>
				<div class="mt-5 ms-5 d-flex ">
					<img src="/../assets//images/datacenter.jpg" alt="Data center" class="img-article">
					<div class="article d-flex flex-column align-items-center justify-content-center">
						<h2 class="">
							Polution numérique : du clic au déclic</h2>
                            <p class=""></p>
					</div>
				</div>
			</article>
		</section>
	</main>
{% endblock %}
