@import url(navbar.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Orbitron:wght@400;500&family=Prompt&family=Roboto+Serif:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap');
@font-face {
font-family: 'Erika Ormig';
src: url('../images/Erika Ormig.ttf');
}

:root {
--bs-primary-rgb:15, 15, 19;
--bs-primary:#0f0f13;
--bs-secondary-rgb:255, 62, 62;
--bs-secondary:#ff3e3e;
--bs-light-rbg:241, 236, 236;
--bs-light:#f1ecec;
--font:'Roboto Serif';
--font-title:'Erika Ormig';
--size:40px;
--font-size:24px;
--font-size-title:70px;
--font-size-text:18px;
}

.main-game {
  min-height: 100vh;
  background-image: url("../images/bg-desert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  line-height: var(--font-size);
  font-size: var(--font-size-text);
}

.webinator {
  min-height: 80vh;
  width: 80vw;
  margin: 0;
  position: absolute;
  top: 10vh;
  left: 20vh;
  background-color: rgba(255, 255, 255, 0.9);
}

.w-fit {
  width: fit-content;
  font-size: var(--font-size-title);
  font-family: var(--font-title);
}

.article {
  font-size: var(--font-size-text);
  font-family: var(--font);
}

.form-label {
  font-size: var(--font-size-text);
  font-family: var(--font);
}

.form-control {
  font-size: var(--font-size-text);
  font-family: var(--font);
}

.btn {
  font-size: var(--font-size-text);
  font-family: var(--font);
  color: var(--bs-light);
}

.btn:hover {
     color: var(--bs-secondary);
}

.banner {
    background-image: url("../images/bannerdata.jpg");
    height:100vh;
    filter: drop-shadow(0 0px 1px rgb(252, 251, 252));
}

.bannertitle {
  font-size: var(--font-size-title);
  color: var(--bs-light);
  font-family: var(--font);
  filter: drop-shadow(0 0px 1px rgb(252, 251, 252));
}
