<footer>
	<div class="container-fluid footer bg-primary d-flex justify-content-center align-items-center">
		<p class="me-1 m-0 text-light">Team Webinator</p>
		<p class="text-light m-0">|</p>
		<p class="ms-1 m-0 text-light">Mentions légales</p>
	</div>
</footer>
