<footer>
	<div class="container-fluid footer bg-primary d-flex justify-content-around align-items-center mt-4">
		<div class=" d-flex justify-content-center">
			<a href="https://www.greenpeace.fr/la-pollution-numerique/" class="d-flex justify-content-center align-items-center"><img src="/assets/images/greenpeace.png" alt="logo greenpeace"></a>
		</div>
		<div class="d-flex justify-content-center">
			<a href="https://www.grizzlead.com/lincroyable-impact-de-la-pollution-numerique-et-les-bonnes-pratiques-a-adopter-tres-vite/" class="d-flex justify-content-center align-items-center"><img src="https://www.grizzlead.com/wp-content/uploads/2021/04/Logo-vert-Grizzlead.svg" alt="logo grizzlead"></a>
		</div>
	</div>
</footer>
